@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

* {
   font-family: "Roboto-Bold", sans-serif;
}
.product-item {
   border: 1px solid rgb(99, 175, 23);
   padding: 10px;
   margin: 10px 0;
}

p {
   color: rgb(99, 175, 23);
   font-size: 20px;
}

h1 {
   text-align: center;
   color: rgb(99, 175, 23);
   font-size: 40px;
}
